    body {
    margin: 0;
    font-family: Arial, sans-serif;
      overflow: hidden; /* remove scroll vertical */
    background-color: #5f5f5f;
    }

    .container-horizontal {
    display: flex;
    overflow-x: auto;
    height: 100vh;
    scroll-behavior: auto; /* rolagem suave */

    }

    .item {
    display: block;
    flex: 0 0 auto;
    width: 90%;
    height: 100vh;
    margin-right: 10px;
    margin-top: 80px;
    margin-bottom: 24px;
    margin-left: 5%;

    background: #fefefe;
    color: rgb(13, 13, 13);
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 15px;
}

    .item h2 {
    text-align: center;
    }
    
.img_home {
    position: relative;
    left: 20%;
        width: 50vw;
        margin: 0 auto;
}

.card_01 {
    display: flex;
    position: relative;
    background-color: #2117b55c;
    padding: 24px;
    border-radius: 5px;
    z-index: 1000;
    list-style: none;
}
