    body {
    margin: 0;
    font-family: Arial, sans-serif;
      overflow: hidden; /* remove scroll vertical */
    }

    .container-horizontal {
    display: flex;
    overflow-x: auto;
    height: 100vh;
    scroll-behavior: auto; /* rolagem suave */
    background-color: #5f5f5f;
    }

    .item {
    display: block;
    flex: 0 0 auto;
    width: 90%;
    height: 100vh;
    margin-right: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 5%;

    background: #fefefe;
    color: rgb(13, 13, 13);
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 15px;
    }