    body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    //font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    overflow: hidden; /* remove scroll vertical */
    background-image: url("/dist/img/2150906164.jpg");
    //background-image: url("/src/img/2150906164.jpg");
    background-size: cover;
    background-position-x: 40%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    }

    .container-horizontal {
    display: flex;
    padding-top: 2.2vw;
    padding-left: 0%;
    overflow-x: auto;
    height: 100vh;
    scroll-behavior: auto; /* rolagem suave */
    gap: 40px;

    }

    .item {
    //Positions Area
    position: relative;
    scroll-margin-top: 90px; /* space to 80px on top */
        scroll-margin-left: 0px; /* space to 20px on left */
            scroll-margin-right: 50px; /* space to 20px on left */
    margin-left: 30px;
    margin-right: 50px;
    //behaviors
    display: block;
    flex: 0 0 auto;
    //Size area
    border-radius: 15px;
    width: 90%;
    height: 87.2vh;
    //Style area

    background: rgba($color: #ece8d6, $alpha: 0.80);
    box-shadow: #030027 0px 4px 30px;
    color: #030027;
    align-items: center;
    justify-content: center;

    //Internal area
    padding: 24px;

        &--article {
        text-decoration: none;
        font-size: 16px;
        color: #030027;
        font-weight: bold;
        padding: 8px 24px;
        display: block;

        text-align: justify;
        line-height: 1.5;
    }
}

    .item h2 {
    text-align: center;
    }
    
.img_home {
    position: relative;
    left: 20%;
    width: 50vw;
    margin: 0 auto;
}


.az {


    &--long {
        display: flex;
        position: fixed;
        top: -15px;
        margin: 15px 30%;
        list-style: none;
        padding: 0;
            background-color: #ece8d6;
            border-radius: 5px;
        z-index: 6;
        border-bottom: 2px solid #0384e6b7;

        &--lat {
            margin: 0 10px;
            justify-content: space-between;
        }
    }

}
    .az__long--lat__a {
    text-decoration: none;
    font-size: 1em;
    color: #030027;
    font-weight: bold;
    padding: 5px 8px;
    display: block;
    }