    body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
      overflow: hidden; /* remove scroll vertical */
    background-color: #5f5f5f;
    }

    .container-horizontal {
    display: flex;
    padding-top: 2.7vw;
    overflow-x: auto;
    height: 100vh;
    scroll-behavior: auto; /* rolagem suave */

    }

    .item {
    //Positions Area
    position: relative;
    scroll-margin-top: 90px; /* space to 80px on top */
    margin-left: 5%;
    //behaviors
    display: block;
    flex: 0 0 auto;
    //Size area
    width: 90%;
    height: 100vh;
    //Style area
    background: #f7f7f7;
    color: rgb(13, 13, 13);
    align-items: center;
    justify-content: center;

    border-radius: 15px;
}

    .item h2 {
    text-align: center;
    }
    
.img_home {
    position: relative;
    left: 20%;
    width: 50vw;
    margin: 0 auto;
}


.az {


    &--long {
        display: flex;
        position: fixed;
        top: 0.08vw;
        //left: 20%;
        list-style: none;
        margin: 0;
        padding: 0;
            background-color: #2117b55c;
            border-radius: 5px;
        z-index: 6;

        &--lat {
            margin: 0 10px;
            justify-content: space-between;
        }
    }

}
    .az__long--lat__a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    }
